/* purgecss start ignore */

@tailwind base;
@tailwind components;
html {
  font-family: "roboto", sans-serif;
}
body {
  @apply bg-white-500;
}
p {
  @apply text-black-500;
}
.animation-hover:after {
  background: none repeat scroll 0 0 transparent;
  content: "";
  height: 2px;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  @apply w-0 bg-blue-100 left-1/2 block bottom-0 absolute;
}
.animation-active:after {
  @apply left-0 w-full;
}
.animation-hover:hover:after {
  @apply left-0 w-full;
}

li.custom-list:before {
  content: "\2022"; /* bullet point, for screen readers */
  text-indent: -9999999px; /* move the bullet point out of sight */

  width: 0.4em;
  height: 1em;
  background-repeat: no-repeat;

  background-size: 0.4em 0.7em;
  background-position: 0 0.3em;
  font-size: 300%;
  top: -0.35em;
  @apply absolute block;
}
li.circle-check:before {
  background-image: url("/assets/Icon/checklist.svg");
  left: -0.7em;
  top: -0.4em;
}
li.check:before {
  left: -0.5em;
  background-image: url("/assets/Icon/jam_check.svg");
  top: -0.5em;
  font-size: 400%;
}
/* Slideshow */
.slick-dots li {
  @apply inline-block;
}
.slick-dots span {
  @apply bg-gray-500;
}
.slick-dots .slick-active span {
  @apply bg-blue-100 rounded-l-full rounded-r-full w-12;
}

/* purgecss end ignore */
@tailwind utilities;
/* purgecss start ignore */
/* purgecss end ignore */
.nav-code {
  margin-top: -24px !important;
  margin-bottom: -24px !important;
}
.testhover:hover {
  border: 2px solid #4479d8;
}
.btn {
  display: inline-block;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 4px;
}
.btn-primary {
  color: #fff;
  background-color: #007bff;
  border: none;
}

@media screen and (min-width: 480px) {
  .nav-code {
    margin-top: 0px;
    margin-bottom: 0px;
  }
}
/* for desktop */
.whatsapp_float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;

  border-radius: 50px;
  text-align: center;
  font-size: 30px;

  z-index: 100;
}

.whatsapp-icon {
  margin-top: 16px;
}

/* for mobile */
@media screen and (max-width: 767px) {
  .whatsapp-icon {
    margin-top: 10px;
  }

  .whatsapp_float {
    width: 40px;
    height: 40px;
    bottom: 58px;
    right: 24px;
    font-size: 22px;
  }
}

.backImage {
  background-image: url("../public/assets/services-jumbo.webp");
  height: 400px;
}
.backImage-contact {
  background-image: url("../public/assets/contact-amax-page.webp");
  height: 400px;
}
.backShade {
  background-color: rgba(0, 0, 0, 0.6);
}

@media (min-width: 768px) {
  .md\:max-w-xl {
    max-width: 36.7rem !important /* 576px */;
  }
}

.font-tag {
  color: #fff;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #08388b;
  margin-right: 5vw;
  font-family: Neurialgrotesk Bold, sans-serif;
  font-size: 40px;
  display: block;
}
.backImage-home {
  background-image: url("https://image.amaxagency.com/amax-banner.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 95vh; /* Set the height to be 100% of the viewport height */
}

/* Additional styling for your content inside the banner container */
.banner-container {
  color: #fff;
  text-align: center;
  /* Add any other styles you need */
}
@media (min-width: 320px)
    and (max-width: 640px) {
  /* .backImage-home {
    background-image: url("../public/assets/phone banner.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh; 
  } */
  
  /* Additional styling for your content inside the banner container */
  .banner-container {
    color: #fff;
    text-align: center;
    /* Add any other styles you need */
  }
  .mobile-hero{
    padding-top:16rem;
    padding-left: 2.5rem !important;
    padding-right: 2.5rem !important;
  }
  .mobile-hero > div > h1 {
    font-size:2rem ;
  line-height: 2.5rem;
  }
  .mobile-hero > div > p{
    padding-top: 14px;
    font-size: 1rem ;
    line-height: 1.4rem;
  }
  .backShade{
    margin-top: 60px;
  } 
}

/* collapse CSS */
.ReactCollapse--collapse{
  transition: height 500ms;
}
.backSection{
  background-color: #efefef;
}

.partner-pad{
  margin-top:-20px !important;
}
/* Custom classes */
.progress-bar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.custom-progress-bar {
  width: 100%;
  max-width: 200px; /* Adjust as needed */
}

.progress-bar-text {
  width: 100%;
  max-width: 300px; /* Adjust as needed */
}

/* Media query for screens larger than 768px (typical desktop devices) */
@media (min-width: 768px) {
  .progress-bar-container {
    flex-direction: row; /* Display progress bars in one row */
  }
  
  .progress-bar-container .mb-4 {
    margin-bottom: 0; /* Remove margin between progress bars */
  }
}
.bg-service-img{
  background-image: url('https://image.amaxagency.com/images/Discover_the_Best_SEO_Services_in_India.webp');
}